.home {
  background-color: white;
  min-height: 100vh;

  & nav {
    background-color: #260336;  
    width: 100vw;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #260336;
    margin-right: 80%;
    & > .logo {
      color: white;
    }
  }
}

.nav{
  background-color: #ffffff;
  min-height: 100vh;
}
.loginbtn{
 
}


.home-links{
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: white;
  }
  & > * {
    margin-left: 1rem;
    color: #260336;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 50%;
  & > * {
    color: #260336;
    margin-bottom: 2rem;
  }
  & > h2 span {
    display: block;
  }
  & .hero-buttons a {
    color: #260336;
  }
}
.logo{
  color: white;
}
.hero-image  {
  // visibility: ;
  width: 30%;
  overflow: hidden;
  & > img{
    height: 500px;
    padding-left: 0.5cm;
    opacity: 60%;
    rotate:10deg;
    margin-top: 2.15cm;
    overflow: hidden;
  }
}
.features{
  background-color: #eaefff;
  color: #260336;
  border-radius: 10px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  padding: 20px;
}
.feature-cards{
  max-width: 1000px;
  margin-top: 50px;
  display: flex;
  & > .card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: white;
    color: #260336;
    border: none;
    width: 10cm;
    height: 10cm;
    
  & > *{
    margin: 10px;
  }
  & > .cardicon{
    margin-left: 2cm;
  }
}
@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .hero-image {
    width: 100%;
    &img {
      width: 100%;
    }
  }
}
}